In [21]:
import pandas as pd

df = pd.read_csv("./pdata/pokemon_data.csv") # read csv
df_xl = pd.read_excel("./pdata/pokemon_data.xlsx") # read excel
df_txt = pd.read_csv("./pdata/pokemon_data.txt", delimiter="\t") # read txt, tab seperated

In [22]:
print(df.head(2))
print(df_xl.head(2))
print(df_txt.head(2))
# df.tail(10)

   #       Name Type 1  Type 2  HP  Attack  Defense  Sp. Atk  Sp. Def  Speed  \
0  1  Bulbasaur  Grass  Poison  45      49       49       65       65     45
1  2    Ivysaur  Grass  Poison  60      62       63       80       80     60

   Generation  Legendary
0           1      False
1           1      False
   #       Name Type 1  Type 2  HP  Attack  Defense  Sp. Atk  Sp. Def  Speed  \
0  1  Bulbasaur  Grass  Poison  45      49       49       65       65     45
1  2    Ivysaur  Grass  Poison  60      62       63       80       80     60

   Generation  Legendary
0           1      False
1           1      False
   #       Name Type 1  Type 2  HP  Attack  Defense  Sp. Atk  Sp. Def  Speed  \
0  1  Bulbasaur  Grass  Poison  45      49       49       65       65     45
1  2    Ivysaur  Grass  Poison  60      62       63       80       80     60

   Generation  Legendary
0           1      False
1           1      False

# Reading Data in Pandas

In [39]:
## Read headers
df.columns

## Read each column
df['Name'][2:5]

df[['Name', 'Type 1', 'HP']][:10]

## Read each row

                        Name Type 1  HP
0                  Bulbasaur  Grass  45
1                    Ivysaur  Grass  60
2                   Venusaur  Grass  80
3      VenusaurMega Venusaur  Grass  80
4                 Charmander   Fire  39
5                 Charmeleon   Fire  58
6                  Charizard   Fire  78
7  CharizardMega Charizard X   Fire  78
8  CharizardMega Charizard Y   Fire  78
9                   Squirtle  Water  44